{% extends "layout.twig" %}

{% block content %}
<h1>Dashboard</h1>

<ul>
  <li><a href="/CursoPlatziPHP/curso-introduccion-php-36-var-entorno/users/add">Add Users</li>
  <li><a href="/CursoPlatziPHP/curso-introduccion-php-36-var-entorno/jobs/add">Add Job</li>
</ul>
<br><br>
<a href="/CursoPlatziPHP/curso-introduccion-php-36-var-entorno/logout" >Logout</a>
{% endblock %}
