{% extends "layout.twig" %}

{% block content %}
<h1>Dashboard</h1>

<ul>
  <li><a href="/CursoPlatziPHP/curso-introduccion-php-35-man-sesiones/users/add">Add Users</li>
  <li><a href="/CursoPlatziPHP/curso-introduccion-php-35-man-sesiones/jobs/add">Add Job</li>
</ul>
<br><br>
<a href="/CursoPlatziPHP/curso-introduccion-php-35-man-sesiones/logout" >Logout</a>
{% endblock %}
